<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <div class="fondo">
                <div class="row">
                    <div class="col-12 col-md-8">

            <div class="row">

                <div class="col-12">
                    <div class="left-upper-section">
                        <h1>¡Bienvenid@!</h1>
                    </div>

                </div>

                <div class="col-12">
                    <div class="left-down-section">

                        <div class="row">
                            <div class="col-12">
                                <p>Ambiente educativo es un proyecto realizado por estudiantes de la pucv.</p>
                            </div>

                            <div class="col-12 col-md-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend enim at augue consequat scelerisque. Quisque hendrerit fringilla blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi ante mauris, sodales sit amet velit et, mollis auctor quam. Nulla porttitor sapien vel magna elementum eleifend. Integer convallis finibus tortor, ac tempor augue tempus a. Phasellus iaculis, lorem nec aliquam egestas, purus ligula feugiat quam, in congue augue libero in nunc. Ut eros ante, condimentum a tincidunt id, malesuada a velit. Ut nisi enim, porttitor eu lacus quis, commodo laoreet odio. Duis lorem eros, fringilla id vehicula eget, placerat eu nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque blandit bibendum mauris, sed euismod ex congue non. Curabitur commodo rutrum feugiat.
                                </p>
                            </div>

                            <div class="col-12 col-md-6">
                                <p>
                                    Sed tempus, dui in euismod faucibus, lectus sapien sagittis felis, ut pharetra erat odio vel est. Sed eleifend ut sapien ut porttitor. Nunc a diam nec odio feugiat dignissim. Ut non ornare lectus, id accumsan arcu. Morbi et risus nec dui ultrices porta egestas eu purus. Vivamus consequat sem et blandit suscipit. Sed finibus sapien sed consectetur porttitor. Morbi nec metus sed dui egestas pellentesque. Nunc ornare congue imperdiet.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">

            <div class="right-section">
                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion2.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion3.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>

        

    </div>
</div>
