<div class="container-fluid">
    <div class="row">

        <div class="col-12">

            <div class="fondo">
                <div class="row">
                    <div class="col-12 col-md-8">

            <div class="row">

                <div class="col-12">
                    <div class="left-upper-section">
                        <h1>¡Bienvenid@!</h1>
                    </div>

                </div>

                <div class="col-12">
                    <div class="left-down-section">
                        <p>Ambiente educativo es un proyecto realizado por estudiantes de la pucv.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">

            <div class="right-section">
                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion2.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="caja-imagen">
                            <img src="../../../assets/images/educacion3.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>

        

    </div>
</div>
