<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="fondo">
                <div class="row">

                    <div class="col-12">
                        <h1>Perfil</h1>
                    </div>

                    <div class="col-12">

                        <div class="info-perfil">

                            <div class="fila-titulo2 row">
                                <h2>Datos Personales</h2>
                            </div>

                            <div class="fila-datos row">
                                <div class="col-12 col-md-3">
                                    <img src="../../../assets/images/user.png" class="img-fluid img-user">
                                </div>

                                <div class="col-12 col-md-9">
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Nombre:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{user.nombre}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Rut:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{user.rut}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Nivel:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{alumno.nivel}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Seccion:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{alumno.seccion}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Dirección:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{user.direccion}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Correo Electrónico:</p>
                                        </div>

                                        <div class="col-6">
                                            <p>{{user.email}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <a (click)="editarPerfil()">
                                        <button type="button" class="btn btn-warning">Editar Perfil</button>
                                    </a>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>