.login-square{
    margin: 5% 10% 5% 10%;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5%;

}

.form-group{
    margin: 2.5% 0% 2.5% 0%;
}

input{
    width: 100%;
}

.btn-ingresar{
    background-color: lavender;
    border-radius: 15px;
    
    width: 100%;
}