<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="fondo">
                <div class="row">
                    <div class="col-12">
                        <h1>Calendario</h1>
                    </div>

                    <div class="col-12">

                        <div class="calendar-box">

                            <div class="row text-center">

                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <div class="btn btn-side" mwlCalendarPreviousView [view]="view"
                                            [(viewDate)]="viewDate">
                                            Anterior
                                        </div>
                                        <div class="btn btn-mid" mwlCalendarToday [(viewDate)]="viewDate">
                                            Hoy
                                        </div>
                                        <div class="btn btn-side" mwlCalendarNextView [view]="view"
                                            [(viewDate)]="viewDate">
                                            Siguiente
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
                                </div>

                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <div class="btn btn-side" (click)="setView(CalendarView.Month)"
                                            [class.active]="view === CalendarView.Month">
                                            Mes
                                        </div>
                                        <div class="btn btn-side" (click)="setView(CalendarView.Week)"
                                            [class.active]="view === CalendarView.Week">
                                            Semana
                                        </div>
                                        <div class="btn btn-side" (click)="setView(CalendarView.Day)"
                                            [class.active]="view === CalendarView.Day">
                                            Día
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div [ngSwitch]="view">

                                <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)"
                                    *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                                    [locale]="locale">
                                </mwl-calendar-month-view>

                                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                                    [events]="events" [locale]="locale">
                                </mwl-calendar-week-view>

                                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate"
                                    [events]="events" [locale]="locale">
                                </mwl-calendar-day-view>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>