<nav class="navbar navbar-expand-lg" style="background-color: #104911;">
    <div class="container-fluid">
        <a class="a-img" href="#"> <p>Logo</p> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['sesion']" href="#">Iniciar sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['mapas']" href="#">ECOmapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['ayuda']" href="#">Ayuda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      3R
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['3r']" href="#">¿Que son las 3R?</a></li>
                      <li><a class="dropdown-item" [routerLink]="['recicla']" href="#">Reciclar</a></li>
                      <li><a class="dropdown-item" [routerLink]="['reutiliza']" href="#">Reutilizar</a></li>
                      <li><a class="dropdown-item"[routerLink]="['reduce']"  href="#">Reducir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
